@model Tareas.Models.Producto

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="align-content:center">
    <h2>Detalles de  @Model.Nombre</h2>

    <p>Código: @Model.Id</p>
    <img src="~/Content/img/prod/@Model.imagen" width="700" height="700" />
    <h3>Precio: @Model.Precio</h3>
    <h5>Detalle: @Model.Descripcion</h5>

</div>

